<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<div th:insert="fragments :: header"></div>

<div th:insert="fragments :: navbar"></div>

<div class="container py-5">
	<div class="row">
		<h3>Liste des fournisseurs</h3>
	</div>
	<div class="row">
		<table class="table">
			<tr>
				<th>REFERENCE</th>
				<th>NOM</th>
				<th></th>
			</tr>
			<tr th:each="f : ${fournisseurs}">
				<td th:text="${f.reference}">Réf</td>
				<td th:text="${f.nom}">23.32</td>
				<td><a href="fournisseurDetails.html"
					th:href="@{/fournisseurs/edit(fournisseurId=${f.id})}">Editer</a></td>
			</tr>
		</table>
	</div>
</div>